force-app/main/default/flows/Actualizar_propietario_de_la_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Permite actualizar el propietario de la cuenta de acuerdo al propietario de la oportunidad</description>
    <interviewLabel>Actualizar propietario de la cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar propietario de la cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Permite obtener el propietario de la oportunidad</description>
        <name>Obtener_id_propietario_de_la_oportunidad</name>
        <label>Obtener id propietario de la oportunidad</label>
        <locationX>225</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_propietario_de_la_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdOportunidad</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varIdCuentaAsociadaOportunidad</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIdPropietarioOportunidad</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Permite actualizar el propietario con el id del propietario de la oportunidad</description>
        <name>Actualizar_propietario_de_la_cuenta</name>
        <label>Actualizar propietario de la cuenta</label>
        <locationX>376</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCuentaAsociadaOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varIdPropietarioOportunidad</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_id_propietario_de_la_oportunidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Almacena el id del contacto al que se convirtió el candidato</description>
        <name>varContactoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIdCuentaAsociadaOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id de la oportunidad enviado desde el process builder</description>
        <name>varIdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el id del propietario de la oportunidad</description>
        <name>varIdPropietarioOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
