force-app/main/default/flows/Asignar_tipo_de_registro_a_oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Permite asignar el tipo de registro y el nombre a una oportunidad dependiendo del tipo de registro del candidato</description>
    <interviewLabel>Asignar tipo de registro a oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar tipo de registro a oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Permite obtener el id del tipo de registro dependiendo del nombre del tipo de registro del candidato asociado</description>
        <name>Obtener_id_tipo_de_registro_oportunidad</name>
        <label>Obtener id tipo de registro oportunidad</label>
        <locationX>436</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_tipo_de_registro_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoRegistroDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIdTipoRegistro</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Permite actualizar el tipo de registro de la oportunidad dependiendo del tipo de registro del candidato</description>
        <name>Actualizar_tipo_de_registro_oportunidad</name>
        <label>Actualizar tipo de registro oportunidad</label>
        <locationX>605</locationX>
        <locationY>69</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdOportunidad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varIdTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_id_tipo_de_registro_oportunidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Contiene el id de la oportunidad que se desea actualizar y se pasa desde el process builder</description>
        <name>varIdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el id del tipo de registro de oportunidad dependiendo del tipo de registro del candidato</description>
        <name>varIdTipoRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Se obtiene desde el process builder</description>
        <name>varTipoRegistroDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
