force-app/main/default/flows/Asignar_tipo_de_registro_candidato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Permite asignar el tipo de registro correcto al candidato dependiendo del campo tipo persona actualizado desde pardot</description>
    <interviewLabel>Asignar tipo de registro candidato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar tipo de registro a candidato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Permite obtener el id del tipo de registrado enviado desde el process builder</description>
        <name>Obtener_id_tipo_de_registro_candidato</name>
        <label>Obtener id tipo de registro candidato</label>
        <locationX>221</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_tipo_de_registro_candidato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoRegistroDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIdTipoRegistroCandidato</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Permite actualizar el tipo de registro del candidato dependiendo del nombre de tipo de registro enviado desde el process builder</description>
        <name>Actualizar_tipo_de_registro_candidato</name>
        <label>Actualizar tipo de registro candidato</label>
        <locationX>429</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCandidato</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varIdTipoRegistroCandidato</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_id_tipo_de_registro_candidato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contiene el id del candidato enviado desde el process builder</description>
        <name>varIdCandidato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el id del tipo de registro de candidato consultado</description>
        <name>varIdTipoRegistroCandidato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable que se envía desde el process builder con el nombre del tipo de registro a consultar</description>
        <name>varTipoRegistroDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
