force-app/main/default/flows/Boton_sincronizar_oportunidad_en_Gestor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Crear cuenta de participe en Gestor</description>
        <name>Crear_cuenta_de_participe_en_Gestor</name>
        <label>Crear cuenta de participe en Gestor</label>
        <locationX>716</locationX>
        <locationY>62</locationY>
        <actionName>ANEFI_CrearCuentaGestor</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oportunidad</name>
            <value>
                <elementReference>Obtener_oportunidad</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ANEFI_CrearCuentaGestor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Permite validar si se encontró un registro de oportunidad con el Id enviado desde el botón</description>
        <name>Existe_oportunidad</name>
        <label>Existe oportunidad?</label>
        <locationX>566</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_cuenta_de_participe_en_Gestor</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo para sincronizar manualmente la oportunidad en Gestor</description>
    <interviewLabel>Botón sincronizar oportunidad en Gestor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Botón sincronizar oportunidad en Gestor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Permite obtener el registro de oportunidad de acuerdo al Id enviado como parámetro</description>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>442</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdOportunidad</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id de la oportunidad enviado desde el botón donde se invoca</description>
        <name>varIdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
