force-app/main/default/flows/Crear_Cliente_A_Partir_de_No_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Asigna los valores desde el no cliente al nuevo cliente</description>
        <name>Asignar_valores_nuevo_cliente</name>
        <label>Asignar valores nuevo cliente</label>
        <locationX>295</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Actividad_Economica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Actividad_Economica__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Activo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Ingresos_anuales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Calle_principal_direccion_trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Calle_principal_direccion_trabajo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Calle_principal_direccion_tributaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Calle_principal_direccion_tributaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Canton_direccion_de_trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Canton_direccion_de_trabajo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Canton_direccion_tributaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Canton_direccion_tributaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Capital_social__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Capital_social__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Cargo_representante_legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Cargo_representante_legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Ciudad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Ciudad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Correo_representante_legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Correo_electronico_representante_legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Descripcion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Entidad_financiera__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Entidad_financiera__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Fecha_de_constitucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Fecha_de_constitucion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Identificacion_representante_legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Identificacion_representante_legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Interseccion_direccion_trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Interseccion_direccion_trabajo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Interseccion_direccion_tributaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Interseccion_direccion_tributaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Nacionalidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Nacionalidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Nombre_representante_legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Nombre_representante_legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Numero_de_empleados__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Numero_de_identificacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Numero_de_identificacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Numero_direccion_trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Numero_direccion_trabajo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Numero_direccion_tributaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Numero_direccion_tributaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Telefono__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Politicamente_expuesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Politicamente_expuesto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Telefono_celular__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Telefono_celular__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Tipo_de_cuenta_bancaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Tipo_de_cuenta_bancaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Tipo_de_identificacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Tipo_de_identificacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Tipo_de_persona_juridica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Tipo_de_persona_juridica__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Tipo_identificacion_representante_legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Tipo_identificacion_representante_legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Total_activos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Total_activos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Total_gastos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Total_gastos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Total_pasivos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Total_pasivos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Sitio_Web__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIdTipoRegistroClienteJuridico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Numero_de_cuenta_bancaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Numero_de_cuenta_bancaria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Pais_direccion_trabajo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Pais_direccion_trabajo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClienteAcrear.Pais_direccion_tributaria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Pais_direccion_tributaria__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearClienteAPartirNoCliente</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Almacena el developer name del tipo de registro de persona jurídica</description>
        <name>constante_tipo_registro_persona_juridica</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Persona_Juridica</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Valida_Si_Existe_No_Cliente</name>
        <label>Valiar si Existe No Cliente?</label>
        <locationX>757</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_No_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroNoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tipo_Registro_Cliente_Juridico</targetReference>
            </connector>
            <label>Existe No Cliente</label>
        </rules>
        <rules>
            <name>No_existe_No_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRegistroNoCliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_se_encontraron_no_clientes</targetReference>
            </connector>
            <label>No existe No Cliente</label>
        </rules>
    </decisions>
    <description>Flujo que permite crear un registro de cliente jurídico a partir de un registro de no cliente</description>
    <interviewLabel>Crear Cliente A Partir de No Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Cliente A Partir de No Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crea un tipo de registro cliente a partir de un no cliente</description>
        <name>CrearClienteAPartirNoCliente</name>
        <label>CrearClienteAPartirNoCliente</label>
        <locationX>295</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Mensaje_cliente_creado_correctamente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Mostrar_Mensaje_de_Error</targetReference>
        </faultConnector>
        <inputReference>ClienteAcrear</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Permite obtener el Id del tipo de registro cliente jurídico</description>
        <name>Obtener_Tipo_Registro_Cliente_Juridico</name>
        <label>Obtener Tipo Registro Cliente Jurídico</label>
        <locationX>295</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_valores_nuevo_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>constante_tipo_registro_persona_juridica</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIdTipoRegistroClienteJuridico</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ObtenerRegistroNoCliente</name>
        <label>ObtenerRegistroNoCliente</label>
        <locationX>757</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_Si_Existe_No_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ANEFI_No_Cliente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el campo Ya ha sido utilizado del registro No Cliente</description>
        <name>Actualizar_registro_No_Cliente</name>
        <label>Actualizar registro No Cliente</label>
        <locationX>50</locationX>
        <locationY>901</locationY>
        <connector>
            <targetReference>cliente_creado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerRegistroNoCliente.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ya_ha_sido_utilizado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ANEFI_No_Cliente__c</object>
    </recordUpdates>
    <screens>
        <name>cliente_creado</name>
        <label>cliente creado</label>
        <locationX>51</locationX>
        <locationY>1040</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Asignar_Cliente_ID</name>
            <extensionName>c:anefi_redireccionarACliente</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ClienteAcrear.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ClienteAcrear.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_cliente_creado_correctamente</name>
        <label>Mensaje cliente creado correctamente</label>
        <locationX>51</locationX>
        <locationY>687</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_registro_No_Cliente</targetReference>
        </connector>
        <fields>
            <name>labelClienteCreadoCorrectamente</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(18, 18, 18);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;El cliente {!ClienteAcrear.Name} se creó correctamente en el sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mostrar_Mensaje_de_Error</name>
        <label>Mostrar Mensaje de Error</label>
        <locationX>604</locationX>
        <locationY>693</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Label_Mensaje_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 34, 34);&quot;&gt;Se presentó el siguiente error creando el cliente {!ObtenerRegistroNoCliente.Name}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(192, 34, 34);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>No se encontraron clientes con el identificador dado</description>
        <name>No_se_encontraron_no_clientes</name>
        <label>No se encontraron no clientes</label>
        <locationX>955</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_existen_registros_de_no_clientes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 33, 33);&quot;&gt;No existen registros de no clientes para el identificador dado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>631</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ObtenerRegistroNoCliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClienteAcrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>almacena el Id del no cliente desde el cual se invoca el flujo</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el Id del tipo de registro de cliente Jurídico</description>
        <name>varIdTipoRegistroClienteJuridico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
