force-app/main/default/flows/FL_ANEFI_Opportunity_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar notificación personalizada al Jefe del Asesor.</description>
        <name>Send_Custom_Notification_to_Opportunity_Owner</name>
        <label>Send Custom Notification to Opportunity Owner</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Flag_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oportunidad Reasignada.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Enviar correo de Bienvenida</description>
        <name>Welcome_Email</name>
        <label>Welcome Email</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>Account.ANEFI_Welcome_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.ANEFI_Welcome_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Agregue el Id del propietario de la cuenta en la variable de identificación del destinatario.</description>
        <name>Add_account_owner_ID_in_Recipient_ID_s_variable</name>
        <label>Add account owner ID in Recipient ID&apos;s variable</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar valores de campos para su actualización.</description>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>Adviser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateAssigment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Reasignación masiva de oportunidades desde las vistas de lista.</description>
        <name>Massive_Reasign_List_View</name>
        <label>Massive Reasign List View?</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ANEFI_New_OwnerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ANEFI_New_OwnerId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reasign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Oportunidad es Cerrada / Ganada</description>
        <name>Opportunity_Close_Won</name>
        <label>Opportunity Close Won?</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada ganada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Change</name>
        <label>Owner Change?</label>
        <locationX>281</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Send_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ANEFI_Send_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Notification</name>
        <label>Send Notification?</label>
        <locationX>512</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Close_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ANEFI_Send_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_owner_ID_in_Recipient_ID_s_variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to process Opportunity Recods.</description>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Se le reasigna la oportunidad: &apos; + {!$Record.Name} + &apos;, por vencimieno del SLA.&apos;</expression>
    </formulas>
    <interviewLabel>FL_ANEFI_Lead_Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_ANEFI_Opportunity_Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener ID de registro de notificación personalizado</description>
        <name>Get_Custom_Notification_Record_ID</name>
        <label>Get Custom Notification Record ID</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Custom_Notification_to_Opportunity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidad_reasignada_por_vencimiento_de_SLA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener la Plantilla para el envío de Correo.</description>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome_Email_Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reasign_Owner</name>
        <label>Reasign Owner</label>
        <locationX>149</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ANEFI_New_OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flag_Opportunity</name>
        <label>Update Flag Opportunity</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>ANEFI_Send_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza campos en la Oportunidad.</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>ANEFI_Date_assignment__c</field>
            <value>
                <elementReference>DateAssigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANEFI_adviser__c</field>
            <value>
                <elementReference>Adviser</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Massive_Reasign_List_View</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Asesor asignado a la Oportunidad.</description>
        <name>Adviser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fecha de asignación de la Oportunidad al usuario actual.</description>
        <name>DateAssigment</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecipientIDs</description>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIDs2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
