force-app/main/default/flows/Generar_Casos_de_Prueba.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Multi_Select</name>
        <label>Case Multi Select</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Sprints</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Selecionar_Sprints</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Gen</name>
        <label>Gen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>GeneracionDeCasosDePrueba</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lstParams</name>
            <value>
                <elementReference>lstParams</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeneracionDeCasosDePrueba</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Agregar_cada_Sprint_a_lstParams</name>
        <label>Agregar cada Sprint a lstParams</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>lstParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sprints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sprints</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_IdCiclo_a_lstParams</name>
        <label>Agregar IdCiclo a lstParams</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>lstParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ciclo_de_Prueba</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Multi_Select</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ciclos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>IQA_Ciclo_de_Pruebas__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sprints</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>agf__ADM_Sprint__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Generar Casos de Prueba {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generar Casos de Prueba - v2</label>
    <loops>
        <name>Loop_Sprints</name>
        <label>Loop Sprints</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Case_Multi_Select</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agregar_cada_Sprint_a_lstParams</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Gen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Capturar_Datos</name>
        <label>Capturar Datos</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Agregar_IdCiclo_a_lstParams</targetReference>
        </connector>
        <fields>
            <name>Ciclo_de_Prueba</name>
            <choiceReferences>ciclos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccionar Ciclo de Prueba</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Selecionar_Sprints</name>
            <choiceReferences>sprints</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecionar Sprints</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Este proceso permite seleccionar 1 &lt;strong&gt;Ciclo de Pruebas&lt;/strong&gt; previamente definido en Intellect QA Booster. Si el Ciclo de Pruebas escogido ya tiene datos, los datos que genere este proceso serán adicionales a los ya existentes.&lt;/p&gt;&lt;p&gt;También, el proceso permite seleccionar uno o más &lt;strong&gt;Sprints&lt;/strong&gt; configurados en &lt;u&gt;Agile Accelerator&lt;/u&gt;. Para cada Historia de Usuario en el Sprint, se tomarán los correspondientes Criterios de Aceptación y se generará: a. un Caso de Prueba para cada Historia de Usuario, y b. un Criterio equivalente a cada Criterio de Aceptación de la Historia de Usuario en Agile Accelerator. Para cada Criterio generado en QA Booster se generará un registro para un Escenario de prueba y su correspondiente registro para una Ejecución del Escenario.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ATENCIÓN&lt;/strong&gt;: Se tomarán en cuenta únicamente Las Historias de Usuario y sus correspondientes Criterios de Aceptación que estén en los siguientes estados:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estados de las Historias de Usuario&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Listo para QA / Ready to QA &lt;/p&gt;&lt;p&gt;Listo para SIT / Ready to SIT &lt;/p&gt;&lt;p&gt;Listo para UAT / Ready to UAT &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Estados de los Criterios de Aceptación de las Historias de Usuario&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Nuevo / New &lt;/p&gt;&lt;p&gt;Aprobado / Approved &amp;nbsp;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Aceptar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proceso_de_Generacion_de_Casos_de_Prueba</name>
        <label>Proceso de Generación de Casos de Prueba</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capturar_Datos</targetReference>
        </connector>
        <fields>
            <name>Descripcion</name>
            <fieldText>&lt;p&gt;Este proceso permite seleccionar 1 &lt;strong&gt;Ciclo de Pruebas&lt;/strong&gt; previamente definido en Intellect QA Booster. Si el Ciclo de Pruebas escogido ya tiene datos, los datos que genere este proceso serán adicionales a los ya existentes.&lt;/p&gt;&lt;p&gt;También, el proceso permite seleccionar uno o más &lt;strong&gt;Sprints&lt;/strong&gt; configurados en &lt;u&gt;Agile Accelerator&lt;/u&gt;. Para cada Historia de Usuario en el Sprint, se tomarán los correspondientes Criterios de Aceptación y se generará: a. un Caso de Prueba para cada Historia de Usuario, y b. un Criterio equivalente a cada Criterio de Aceptación de la Historia de Usuario en Agile Accelerator. Para cada Criterio generado en QA Booster se generará un registro para un Escenario de prueba y su correspondiente registro para una Ejecución del Escenario.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ATENCIÓN&lt;/strong&gt;: Se tomarán en cuenta únicamente Las Historias de Usuario y sus correspondientes Criterios de Aceptación que estén en los estados configurados para las &lt;strong&gt;Historias de Usuario&lt;/strong&gt; y para los &lt;strong&gt;Criterios de Aceptación &lt;/strong&gt;en el Ciclo de Pruebas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Proceso_de_Generacion_de_Casos_de_Prueba</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Lista que incluye el Id del Ciclo de Prueba seguido de cada uno de los Ids de los Sprints.</description>
        <name>lstParams</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
