force-app/main/default/flows/Valida_prospecto_en_lista_negra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Valida_persona_en_servicio</name>
        <label>Valida persona en servicio</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>ANEFI_ValidaProspectoListaNegra</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Valida_respuesta</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lstIdProspecto</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ANEFI_ValidaProspectoListaNegra</nameSegment>
        <outputParameters>
            <assignToReference>respuestaServicio</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_mensaje_para_usuario</name>
        <label>Asigna mensaje para usuario</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>mensajePantalla</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>El prospecto se encuentra en la lista negra, no podrá continuar con el proceso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estadoValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecto en lista negra</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_prospecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asigna_mensaje_para_usuario</name>
        <label>Copia 1 de Asigna mensaje para usuario</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>mensajePantalla</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecto no se encuentra en lista negra</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estadoValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecto no esta en lista negra</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_prospecto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valida_respuesta</name>
        <label>Valida respuesta</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Asigna_mensaje_para_usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>En_lista_negra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>respuestaServicio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NotOK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_mensaje_para_usuario</targetReference>
            </connector>
            <label>En lista negra</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Valida prospecto en lista negra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Valida prospecto en lista negra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_prospecto</name>
        <label>update prospecto</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Mensaje_de_validacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StatusPEPList__c</field>
            <value>
                <elementReference>estadoValidacion</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Mensaje_de_validacion</name>
        <label>Mensaje de validacion</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtoRespuestaServicio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!mensajePantalla}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_persona_en_servicio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>estadoValidacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mensajePantalla</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>respuestaServicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
